<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Girish Krishnan ECE 140B Individual Assignments</title>
    <meta name="author" content="Girish Krishnan">
    <meta name="description" content="Girish's ECE 140B Individual Assignments">

    <link rel="stylesheet" type="text/css" href="css/agile.css">

  </head>

  <body>

    <div class='hero'>
      <h1> Girish Krishnan </h1>
      <p> ECE 140B Spring 2022 - Individual Assignments </p>
    </div>

    <section class='padding-responsive'>

      <div class='separator'>My Team</div>
      
      <p>This is our team. Feel free to drop us an email!</p>

      <table class='margin-top-xl'>
        <thead>
          <tr>
            <th class='small'> First Name </th>
            <th class='medium'> Last Name </th>
            <th class='large'> Email </th>
            <th class='large'> Specialization </th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td> {{user[0]}} </td>
            <td> {{user[1]}} </td>
            <td> <a href= mailto:{{user[2]}}>{{user[2]}}</a> </td>
            <td> {{user[3]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <section class='responsive_grid'>
        <div class='card bordered margin-none'> <img src="girish.jpg"></img>
          Girish Krishnan
        </div>
        <div class='card bordered margin-none'> <img src="anish.jpg"></img>
          Anish Sharma
        </div>
        <div class='card bordered margin-none'> <img src="hamza.jpg"></img>
          Hamza Khan 
        </div>
        <div class='card bordered margin-none'> <img src="ian.jpg"></img>
          Ian Tanuwidjaja
        </div>
      </section>

      <div class='separator'>About Our Project</div>
      <h2 class='bordered'> What is CarProtect? </h2>

      <p> Imagine you've parked your car outside to grab some groceries from the local grocery store.  </p>
      
      <h2 class='bordered'> How does it work? </h2>

      <h2 class='bordered'> Customer Discovery </h2>

      <h2 class='bordered'> Financials </h2>

      <h2 class='bordered'> Ethics </h2>

      <hr>
    
      <div class='separator'>Contact Us</div>
      <form action=”mailto:girish.bkrishnan2002@gmail.com”


method=”POST”


enctype=”multipart/form-data”


name=”EmailForm”>

        <section class='responsive_grid'>

          <div class='field'>
            <label> Enter your name: &nbsp;</label>
            <input type='text' name='name' value='' class='margin-top-lg'>
          </div>

        </section>

        <section class='responsive_grid'>
          <div class="field">
            <label> Reason for Contact: </label>
            <label class="margin-top-lg control control--checkbox">Website Bugs/Suggestions
              <input type="checkbox" checked="checked" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">Hardware/Other Technical Issues
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">Delivery
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
            <label class="control control--checkbox">Other
              <input type="checkbox" />
              <div class="control__indicator"></div>
            </label>
          </div>

          <div class="field">
            <label>Please enter your message here:</label>
            <div></div>
     <textarea name=”ContactCommentt” rows=”30″ cols=”10″>
</textarea>
          </div>
        </section>
        <button type=”submit” value=”Submit”>Submit Form</button>
      </form>

    </section>
    <script type="text/javascript" src="./public/js/rest.js"></script>
  </body>
</html> 